{% load static %}
<section class="brand_info d-flex h-100">
            <div class="brand_info-block d-flex flex-column justify-content-center">
                <h3 class="brand_info-title">БРЕНД</h3>
                <p class="brand_info-desc">Британский часовой бренд Totembo был запущен в 1966 году и теперь предлагает обширную коллекцию инновационных моделей. В часах Sekonda используются высококачественные механизмы и материалы, такие как нержавеющая сталь и натуральная кожа, для создания прочных и винтажных аналоговых часов, которые сочетаются с более игривой линией Sekonda с яркой отделкой и смелыми спортивными часами с большими циферблатами.</p>
            </div>
            <div class="brand_info-img">
                <img class="img-fluid" src="{% static 'store/images/brand_info-img.png' %}" alt="">
            </div>
        </section>