<div class="cart-row mt-2">
    <div style="flex:2">
        <img class="row-image" src="{{ item.product.image_url }}">
    </div>
    <div style="flex:2">
        <p>
            {{ item.product.name }}
        </p>
    </div>
    <div style="flex:1">
        <p>
            ${{ item.product.price }}
        </p>
    </div>
    <div style="flex:1">
        <p class="quantity">
            {{ item.quantity }}
        </p>
    </div>
    <div style="flex:1">
        <p>
            ${{ item.total_price }}
        </p>
    </div>
</div>
