<div class="customer_reviews">
    <h2 class="product_detail-main-title text-center">ОТЗЫВЫ КЛИЕНТОВ</h2>
    <div class="customer_reviews-slider">
        <div class="customer_reviews-slider_block">
            <h5 class="customer_reviews-title">JAMES RICHARD</h5>
            <div class="d-flex justify-content-between">
                <small class="customer_reviews-status">Проверенный клиент</small>
                <span class="customer_reviews-date">23/01/21</span>
            </div>
            <p class="customer_reviews-desc">Вау круто, мне это нравится
                пополнение моей коллекции!</p>
        </div>
    </div>
</div>