<div class="product_card text-center">
    
    <a class="product_card-detail"
       {% if product.quantity > 0 %}
        href="{{ product.get_absolute_url }}"
        {% endif %}>
        <div class="w-100">
            <img class="product_card-img img-fluid" style="height:300px;" src="{{ product.image.url }}" alt="">
        </div>
        <div class="product_card-description">
            <p class="product_card-name">{{ product.name }}</p>
            <p class="product_card-desc">{{ product.description }}</p>
            <p class="product_card-price">${{ product.price }}</p>
        </div>
    </a>
    {% if product.quantity > 0 %}
        <a href="{% url 'to_cart' product_id=product.pk action='add' %}" class="product_card-btn">В корзину</a>
    {% else %}
        <a href="" class="product_card-txt">Нет в наличии</a>
    {% endif %}
</div>