{% extends 'base.html' %}
{% block style %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock style %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element mb-5">
                    <form action="" method="post" class='form'>
                        {% csrf_token %}
                    <a href="{% url 'cart' %}" class="btn btn-primary">
                        Вернуть в корзину
                    </a>

                    {% for item in items %}
                        {% include 'store/components/_cart_row.html' %}

                    {% endfor %}
                    
                    <h5>Товары:  {{ order.cart_prducts_quantity }}</h5>
                    <h5>Итого:  {{ order.cart_total_price }}</h5>
                    
                 
                </form>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="box-element mb-5">
                <form action="{% url 'process_order' %}" method="post">
                  {% csrf_token %} 

                  <div id="user-info">
                      <div class="form-field">{{customer_form.name}}</div>
                      <div class="form-field">{{customer_form.email}}</div>
                      <div class="form-field">{{customer_form.phone}}</div>
                  </div>
                  <div id="shipping-info">
                    <hr>
                    <p>Адрес доставки:</p>
                    <hr>
                    {% for field in shipping_form %}
                      <div class="form-field">{{field}}</div>
                    {% endfor %}

                  </div>
                  <button class='btn btn-success' type="submit">Заказать</button>
                </form>
              </div>
            </div>
        </div>
    </div>

</main>

{% endblock main %}

